<!DOCTYPE html>
<html lang='ru-RU'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <title>Django</title>
    </head>
    <body>
        <!--[if lt IE 8]>
        <h1 class='browsehappy'>Ваш браузер <strong>устарел</strong>. Пожалуйста<a href='http://browsehappy.com/'>обновите</a>,/h1> 
        <![endif]-->
        <form action="form-handler/" method="POST">{%csrf_token%}
            Login <input type="text"/>
            Pass<input type="password"/>
            <input type="submit" value="Submit"/>
        </form>   
    </body>
</html>