@keyframes donate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}
header {
    width: 100%;
    max-width: 1600px;
    min-height: 150px;
    border-bottom: 2px solid black;
    background: #6c0180;
    margin: 0 auto;
}

header>div {
    height:150px;
}

header .left {
    width:25%;
    float:left;
}
header .logo {
    text-align: center;
    width: 50%;
    float:left;
    position: relative;
}
header .logo a  img{
    filter: drop-shadow(0 10px 2px #6a206a);
    width: 170px;
    height: 170px;
    position: absolute;
    top:5px;
    left: 35%;
}
header .logo a  img:hover{
    transform: scale(0.97);
}
header .right {
    width:25%;
    float:right;
}

header .button {
    margin: 50px auto;
    display: block;
    width: 200px;
    height:50px;
    background: #108326;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    line-height: 50px;
    color: #fff;
    box-shadow:inset 0px 0px 2px 0px black,
        0px 0px 2px 1px black;
    animation-name: donate;
    animation-iteration-count:  infinite;
    animation-duration: 250ms;
    animation-direction: alternate;
}
header .button:hover {
    transform: scale(1);
    animation-play-state: paused;
    text-decoration: underline;
}


header .right .enter {
    display: block;
    width:250px;
    height:40px;
    margin: 30px auto;
    padding: 10px 0 10px 10px;
    color:black;
    font-size: 20px;
    filter: drop-shadow(0px 3px 2px #4e4e4e);
}
header .right .enter .img {
    display: inline-block;
    width:60px;
    height: 60px;
    vertical-align: middle;
    background: url(../images/enter.png) no-repeat;
    background-size: contain;
    transition: 0.3s;
}
header .right .enter:hover .img{
    transform: rotate(-90deg);
}
nav ul {
    margin: 100px auto;
    width:500px;
    padding: 0;
}
nav ul a {
    display: block;
    position: relative;
    font-weight: bold;
    color: #dedede;
    padding: 30px;
    background: #4613a5;
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid #98a3c9;
}
nav ul a:hover{
    color: #ffe200;
    transition: color 0.3s;
}
nav ul a::before,
nav ul a::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 50%;
    background-color: #ffe200;
    transition: opacity 0.3s, transform 0.3s;
    opacity:0;
    top:25%;
}
nav ul a::before{
    right: 70px;
    transform: translateX(20px);
}
nav ul a::after{
    left: 70px;
    transform: translateX(-20px);
}
nav ul a:hover::before,
nav ul a:hover::after {
    opacity:1;
    transform:translateX(0px);
}
nav ul li:last-child a {
    border:none;
}

footer {
    margin-top: 107px;
     width: 100%;
    max-width: 1600px;
    min-height: 150px;
    border-top: 2px solid black;
    background: #6c0180;
}
footer .share{
    width: 420px;
    margin:40px auto;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: bold;
    padding: 0;    
    background-image: linear-gradient(#b918e0,#7400bc);
    padding:5px 0 5px 15px;
}
footer .share .social {
    padding: 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
footer .share .social-fb {
    background: url(../images/logoF.ico) no-repeat ;
    background-position: left;
    background-size: contain;
    transition: 0.3s;
}
footer .share .social-vk {
    background: url(../images/logoVK.ico) no-repeat ;
    background-position: left;
    background-size: contain;
    transition: 0.3s;
}
footer .share .social-vk:hover,
footer .share .social-fb:hover {
    transform: scale(1.1);
}